   <div class="main-div">
        <div class="note-container">

          <% for(let note of notes){ %>

            <div class="note">

                <h1> <%= note.title %> </h1>
                <h3> <%= note.note %> </h3>
                <h4> LIBRO / AUTOR </h4>
                <H5> <%= note.date %></H5>


            </div>
            <% } %>
        </div>
    </div>
