   <div class="main-div">
        <div class="note-container">
            <div class="note">

                <h1> TITULO </h1>
                <h3> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestiae saepe nulla, a quasi alias
                    deleniti quos quas dicta quia vero hic ipsum, laboriosam consectetur aspernatur maxime nisi quae
                    minima expedita. </h3>
                <h4> LIBRO / AUTOR </h4>
                <H5> 26/05/1999 12:23:33 </H5>


            </div>
        </div>
    </div>
